* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

#main-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.social-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    list-style: none;
}

.item a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
}

.fab {
    width: 100%;
    height: 100%;
    font-size: 18px;
    transition: .3s;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.878);
    border: 1px solid rgba(156, 156, 156, 0.256);
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 30%;
    transition: all .3s;
}

.insta-bg {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.link-bg {
    background: rgb(1, 80, 123);
}

.whats-bg {
    background: #15a54a;
}

.pint-bg {
    background: #E60023;
}

.face-bg {
    background: #215eae;
}

.item:hover .bg {
    transform: rotate(25deg);
    transform-origin: bottom;
}

.item:hover .fab {
    background-color: rgba(156, 156, 156, 0.466);
}

.item:hover a span:last-child {
    transform: translateX(60px);
    width: 100px;
}

.item a span:last-child {
    position: absolute;
    color: white;
    font-family: 'calibri';
    width: 0px;
    overflow: hidden;
    z-index: -1;
    top: 10%;
    transform: translateX(20px);
    transition: .3s;
}